* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    background-image: url(https://global-uploads.webflow.com/5ca5fe687e34be0992df1fbe/61b5911c9d37d0449acee390_soccer-ball-on-grass-in-corner-kick-position-on-so-2021-08-29-10-46-54-utc-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Home-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 5vh; 
  }
  
#Home-Title {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 35px;
    font-family: cursive;
    border: solid;
    border-color: #0082e6;
    border-radius: 14px;
    padding: 5px;
    background-color: #0091ff;
    color: #ffffff;
}

.Home-Page-Container {
    text-align: center;
    height: 5vh;
    margin-top: 8vh;
    font-size: 30px;
    color: #2071e3;
    font-family: sans-serif;
    font-weight: bold;
}

.instagram {
    position: fixed; /* This will allow the link to stay in place while scrolling */
    bottom: 484px; /* Adjust this value to move the link higher or lower */
    color: #d925ea; /* Set the color of the link to white */
    margin-left: 871px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
  }

nav {
    background: #1f88d8;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover {
    background: #386688;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}


